In [1]:
import numpy as np
import pandas as pd

In [3]:
use_mv = False

if use_mv:
    all_events_data = pd.read_csv("../cleaned_data/all_events_data_mv.csv",index_col = 0,dtype = str)
else:
    all_events_data = pd.read_csv("../cleaned_data/all_events_data.csv", index_col = 0,dtype = str)

In [5]:
all_events_data["eve_index"] = all_events_data["eve_index"].astype("int")

In [6]:
all_events_data["time"] =pd.to_datetime(all_events_data["time"],infer_datetime_format = True,format="%Y-%m-%d %H:%M:%S")
#delete all invalid time
all_events_data =all_events_data[~all_events_data.time.isnull()].reset_index(drop = True)

In [7]:
#merge with timestamp of next event
time_next = pd.DataFrame({"TIME_next":all_events_data.time[1:]}).reset_index(drop = True)
time_merged = all_events_data.merge(time_next, how = "left", left_index=True, right_index=True)

In [8]:
#calculate day-gaps after each event for each 
time_token =pd.DataFrame({"time_gap":time_merged.TIME_next - time_merged.time, "flag":np.ones(len(time_merged))})

In [9]:
time_token = all_events_data.merge(time_token, how = "left", left_index=True, right_index=True)

In [10]:
#get rid of the last time-gap of each patient (its meaningless)
time_token_clean = time_token.groupby("subject_id").apply(lambda x: x[:-1])

In [11]:
time_token_clean.head()

             subject_id events                time  eve_index        time_gap  \
subject_id
10000019   0   10000019    V05 2129-05-21 19:16:00       3141 0 days 00:00:00
           1   10000019    V50 2129-05-21 19:16:00       3185 0 days 00:00:00
           2   10000019    V30 2129-05-21 19:16:00       3166 0 days 00:00:00
           3   10000019    V29 2129-05-21 19:16:00       3165 0 days 00:00:00
           4   10000019    640 2129-05-21 19:16:00       1241 0 days 01:44:00

              flag
subject_id
10000019   0   1.0
           1   1.0
           2   1.0
           3   1.0
           4   1.0

In [12]:
#remove the observation with inconsistant time. one happend over 50 years before the next event
a = time_token_clean[time_token_clean.time_gap > pd.Timedelta(days=15000)]
index_to_drop = [i for (a,i) in a.index]
#remove from the orginal data,
all_events_data.drop(index_to_drop, inplace = True)
#remove from time token data
time_token_clean = time_token_clean[time_token_clean.time_gap < pd.Timedelta(days=15000)]
#reset_index
time_token_clean.reset_index(drop = True, inplace = True)

In [13]:
time_token_clean.time_gap = time_token_clean.time_gap.apply(lambda x:x.days)

In [14]:
# to create tokens only take time gap >0
time_token_clean = time_token_clean[time_token_clean.time_gap > 0]

In [15]:
time_token_clean.head()

,subject_id,events,time,eve_index,time_gap,flag
29,10000032,ipratropium bromide neb,2180-05-07 02:00:00,7247,1,1.0
31,10000032,spironolactone,2180-05-08 08:00:00,10412,49,1.0
55,10000032,albumin 25% (12.5g / 50ml),2180-06-27 18:00:00,3650,25,1.0
92,10000032,albuterol inhaler,2180-07-24 21:00:00,3674,12,1.0
141,10000074,phytonadione (vitamin k1) (for l&d to nbn orde...,2110-10-16 11:00:00,9393,1,1.0

In [17]:
#create bins 0-2 days 3-5 days 6-12 days 13-30 days 30-90 days 90-365 days 365+ days
max_gap_days = np.max(time_token_clean.time_gap)
max_index = all_events_data["eve_index"].max()

time_token_clean["Bin_indx"] = pd.cut(time_token_clean.time_gap, [0,2,7,15,90,365,max_gap_days], labels=[max_index+1,max_index+2,max_index+3,max_index+4,max_index+5,max_index+6])
time_token_clean["Bin"] = pd.cut(time_token_clean.time_gap, [0,2,7,15,90,365,max_gap_days], \
                                 labels=["timetoken0-2day","timetoken3-7day","timetoken8-15day","timetoken16-90day","timetoken91-365day","timetoken366+day"])

In [18]:
time_token_clean.head()

,subject_id,events,time,eve_index,time_gap,flag,Bin_indx,Bin
29,10000032,ipratropium bromide neb,2180-05-07 02:00:00,7247,1,1.0,11675,timetoken0-2day
31,10000032,spironolactone,2180-05-08 08:00:00,10412,49,1.0,11678,timetoken16-90day
55,10000032,albumin 25% (12.5g / 50ml),2180-06-27 18:00:00,3650,25,1.0,11678,timetoken16-90day
92,10000032,albuterol inhaler,2180-07-24 21:00:00,3674,12,1.0,11677,timetoken8-15day
141,10000074,phytonadione (vitamin k1) (for l&d to nbn orde...,2110-10-16 11:00:00,9393,1,1.0,11675,timetoken0-2day

In [20]:
time_token_clean = time_token_clean.drop(["eve_index", "events"], axis=1)\
                            .rename(columns = {"Bin_indx":"eve_index","Bin":"events" })

In [21]:
time_token_clean.head()

,subject_id,time,time_gap,flag,eve_index,events
29,10000032,2180-05-07 02:00:00,1,1.0,11675,timetoken0-2day
31,10000032,2180-05-08 08:00:00,49,1.0,11678,timetoken16-90day
55,10000032,2180-06-27 18:00:00,25,1.0,11678,timetoken16-90day
92,10000032,2180-07-24 21:00:00,12,1.0,11677,timetoken8-15day
141,10000074,2110-10-16 11:00:00,1,1.0,11675,timetoken0-2day

In [22]:
#create time tokens as "events" and "event" index same format as other events
time_token_clean_final = time_token_clean.reindex(columns = [u'events', u'subject_id', u'time', u'eve_index','flag'])
time_token_clean_final['events'] = time_token_clean_final['events'].astype('object')
time_token_clean_final['eve_index'] = time_token_clean_final['eve_index'].astype('int')

In [23]:
#concatenate with event data
all_events_data["flag"] = np.zeros(len(all_events_data))
all_events_w_time = pd.concat([time_token_clean_final,all_events_data], axis = 0)\
                            .sort_values(by =['subject_id','time','flag'])

In [24]:
all_events_w_time.drop(['flag'],axis = 1, inplace = True)

In [26]:
if use_mv:
    all_events_w_time.to_csv("../cleaned_data/all_events_data_w_time_mv.csv")
else:
    all_events_w_time.to_csv("../cleaned_data/all_events_data_w_time.csv")

In [27]:
event_id = all_events_w_time.loc[:,["eve_index","events"]].sort_values(by = "eve_index").drop_duplicates()
event_id

          eve_index                                   events
9644698           1                              (0.9% nacl)
15698742          2  (apri)  (desogestrel-ethinyl estradiol)
22086496          3          (celebrate) calcium citrate + d
11137288          4                       (uptravi)selexipag
16807389          5                       *n f  pantoprazole
...             ...                                      ...
15637718      11676                          timetoken3-7day
16004004      11677                         timetoken8-15day
16348897      11678                        timetoken16-90day
11209737      11679                       timetoken91-365day
16493318      11680                         timetoken366+day

[11642 rows x 2 columns]

In [28]:
if use_mv:
    event_id.to_csv("../cleaned_data/events_id_w_time_mv.csv")
else:
    event_id.to_csv("../cleaned_data/events_id_w_time.csv")